.Header {
  background-color: #282c34;
  text-align: center;
  padding: 20px;
  color: white;
}

.Header-logo{
  animation: App-logo-spin infinite 20s linear;
  height: 20vmin;
  pointer-events: none;
}

.Header-title {
  font-size: calc(10px + 2vmin);
}

.Header-menu {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
